.body-background {
    background-image: linear-gradient(to bottom, rgba(45, 45, 45, 0.5), rgba(35, 35, 35, 0.5)), url(img/monster-manual-cover.png);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.chartjs-legend .legend-labels {
    color: white;
}

@media only screen and (max-width: 768px) {
    #calendar td {
        width: 20px;
        /* adjust the width as needed */
    }
}