*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    overflow: hidden;
}

form{
    display: none;
}

form.active-form{
    display: block;
}

.body-background {
    background-image: url(img/dungeons-masters-guide-cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-card {
    position: relative;
    display: flex;
    margin-top: 50px;
    aspect-ratio: 3 / 4;
    height: 450px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
    background-color: #1B262C;
}

.login-card h1{
    align-self: center;
    color: white;
}

.form-header {
    color: whitesmoke;
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
    margin: 1em 0;
}
  
.sign-up-in-container{
    display: flex;
    margin-top: 1em;
}

button.sign-up-tab, button.sign-in-tab {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 0.5em;
}

button:first-child {
    flex: 1;
    width: 50%;
  }
  
button:last-child {
    flex: 1;
    width: 50%;
}
  

button.sign-in-tab {
    border-bottom: 3px solid #fff;
}

button.sign-up-tab {
    border-bottom: 3px solid #fff;
}

button:hover {
    color: #fff;
}

button.active-tab{
    background-color: #141F25;
    border-color: #0062ff;
}

.form-body {
    display: flex;
    flex-direction: column;
}

.form-body input {
    margin: 1em 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    margin: 1em 0;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #0062ff;
    color: white;
    cursor: pointer;
}
